/* サイト全体 */
html {
    font-size: 16px;
}

body {
    font-family: {{ theme.fonts.base }};
    background-color: {{ theme.colors.background }};
    color: {{ theme.colors.text }};
    font-size: 1rem;
    line-height: 1.6;
}

/* サイト全体のヘッダー */
.site-header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: {{ theme.colors.site_header_background }};
}

.site-header-title {
    font-size: 2.25rem;
    font-weight: bold;
    color: {{ theme.colors.site_header_title_text }};
    text-decoration: none;
}

.site-header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.site-header-nav-link {
    font-size: 1rem;
    color: {{ theme.colors.site_header_nav_link_text }};
    text-decoration: none;
}

/* サイト全体のフッター */
.site-footer {
    font-size: 2.25rem;
}

.site-footer-copyright {
    font-size: 0.8rem;
}

/* 全体的な囲い */
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

/* 記事タイトル */
h1 {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 1.3;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.35;

    padding: 0.5em;
    background-color: #fffaf4;
    border-left: solid 5px #ffaf58;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.4;
}

/* コードインライン */
code {
    font-family: {{ theme.fonts.code }};
    background-color: {{ theme.colors.code_background }};
    color: {{ theme.colors.code_text }};
    font-size: 0.85rem;
    line-height: 1.4;
    border-radius: 4px;
    padding: 0.2rem;
}

/* コードブロック */
.code-block {
    background-color: {{ theme.colors.code_block_background }};
    border-radius: 5px;
}

pre {
    font-family: {{ theme.fonts.code }};
    color: {{ theme.colors.code_block_text }};
    font-size: 0.9rem;
    line-height: 1.5;
    overflow-x: auto;
    padding: 0.85rem 0.9rem;
}