<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }} | {{ site_name }}</title>
    <link rel="icon" href="{{ base_url }}src/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ base_url }}static/css/style.css" />
    <link rel="stylesheet" href="{{ base_url }}static/css/pygments.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="site-wrapper">
      <nav class="site-nav">
        <a class="site-nav-link" href="{{ base_url }}">
          <span class="material-icons-outlined">home</span>
          Home
        </a>
        <a class="site-nav-link" href="{{ base_url }}archives">
          <span class="material-icons-outlined">archive</span>
          Archives
        </a>
        <a class="site-nav-link" href="{{ base_url }}about">
          <span class="material-icons-outlined">info</span>
          About
        </a>
        <a class="site-nav-link" href="{{ base_url }}links">
          <span class="material-icons-outlined">link</span>
          links
        </a>
        <div class="site-nav-loader"></div>
      </nav>

      <header class="site-header">
        <h1 class="site-header-title">{{ header_title }}</h1>
      </header>

      <div class="site-container">
        <div class="site-content">
          <aside class="sidebar">サイドバー</aside>
          <main class="site-main">{% block main %} {% endblock %}</main>
        </div>
      </div>

      <footer class="site-footer">
        <small class="site-footer-text">&copy; 2025 {{ site_name }}</small>
        <small class="site-footer-text">Powered by T2-Press</small>
      </footer>
    </div>

    <script src="{{ base_url }}static/js/main.js"></script>
  </body>
</html>
