{% extends "base.html" %} {% set header_title = site_name %} {% block main %}
<section class="post-list">
  {% for post in posts %}
  <a class="post-list-item" href="{{ post.url }}">
    <div class="post-list-item-header">
      <div class="post-list-item-header-title">{{ post.title }}</div>
      <div class="post-list-item-header-date">{{ post.date }}</div>
    </div>
    <div class="post-list-item-preview">
      <div class="post-list-item-preview-summary">
        <div class="post-list-item-preview-summary-text">{{ post.summary }}</div>
      </div>
      <div class="post-list-item-preview-thumbnail">
        {% if post.thumbnail %}
        <img src="{{ post.thumbnail }}" alt="Thumbnail" />
        {% else %}
        <img src="{{ base_url }}src/images/default-thumbnail.png" alt="Thumbnail" />
        {% endif %}
      </div>
    </div>
  </a>
  {% endfor %}
</section>
{% endblock %}
