{% extends "base.html" %} {% set header_title = site_name %} {% block main %}
<section class="post-list">
  {% for post in posts %}
  <a class="post-list-item" href="{{ post.url }}">
    <div class="post-list-item-header">
      <div class="post-list-item-title">{{ post.title }}</div>
      <div class="post-list-item-date">{{ post.date }}</div>
    </div>
    <div class="post-list-item-info">
      <div class="post-list-item-summary">{{ post.summary }}</div>
    </div>
  </a>
  {% endfor %}
</section>
{% endblock %}
